{{ define "main" }}
<main class="main list" role="main">
    {{- if not .Params.hideTitle }}
	{{- with .Title }}
	<header class="main__header">
		<h1 class="main__title">{{ . }}</h1>
	</header>
	{{- end }}
    {{- end }}
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}
    {{ range .Pages }}
    <div class="team-member">
      <img class="team-photo" src="{{ .Params.image }}" alt="{{ .Title }}">
      <div class="team-info">
        <h2 class="team-name">{{ .Title }}</h2>
        <h2 class="team-role">{{ .Params.role }}</h2>
        <p class="team-bio">{{ .Content }}</p>
      </div>
    </div>
    {{ end }}
</main>
{{ partial "pagination.html" . }}
{{ end }}

