.team-widget {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.team-member {
    flex-basis: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.team-member img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin-top: 15px;
}

.team-member h3 {
    font-size: 20px;
    margin: 10px 0;
}

.team-member p {
    font-size: 16px;
    color: grey;
    margin: 0;
}

.team-member div {
    padding: 15px;
}
