name: Deploy Hugo to GitHub Pages

on:
  push:
    branches:
      - main  # Or your default branch name

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: 'latest'
    
    - name: Build
      run: hugo --minify --baseURL "https://${{ github.repository_owner }}.github.io/"
    
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public